<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Reservas</title>
</head>
<body>
    <h2>Crear Reserva</h2>

    <form>
        <input type="date" name="fecha" required>
        <input type="time" name="hora_inicio" required>
        <input type="time" name="hora_fin" required>
        <input type="number" name="usuario_id" placeholder="ID Usuario" required>
        <input type="number" name="sala_id" placeholder="ID Sala" required>
        <button type="submit">Crear Reserva</button>
    </form>
</body>
</html>